<div class="row">
    @Html.ActionLink(@ShoppingListApp.i18n.Resources.Views.Shared.BackToMainMenu.BackToMainMenuButton, "Index", "Home", null, new { @class = "btn btn-success navbar-btn btn-lg" })
</div>
