<div class="row">
    @Html.ActionLink(@ShoppingListApp.i18n.Resources.Views.Shared.BackToShoppingLists.BackToShoppingListsButton, "ShoppingLists", "ShoppingList", null, new { @class = "btn btn-success navbar-btn btn-lg" })
</div>
