<a href="@Url.Action("ShoppingLists", "ShoppingList")" class="btn btn-success btn-lg hidden-print">
    <span class="glyphicon glyphicon-arrow-left"></span>
    <span class="glyphicon glyphicon-shopping-cart"></span>
</a>