@using (@Html.BeginForm("AddNewCategory", "Category", new { returnUrl = Request.Url.PathAndQuery }))
{
    <div class="input-group">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>
        @Html.TextBox("newCategoryName", null, new { @class = "form-control", @placeholder = @ShoppingListApp.I18N.Resources.Views.Category.CategoryCommon.YourCategoryName })
    </div>
}
