<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="ShoppingListApp All Rules" Description="This rule set contains all rules from Microsoft minus the rules not applicable to ShoppingListApp. Running this rule set may result in a large number of warnings being reported." ToolsVersion="12.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
</RuleSet>