@using (@Html.BeginForm("AddNewItem", "Item", new { returnUrl = Request.Url.PathAndQuery }))
{
    <div class="input-group">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>
        @Html.TextBox("newItemName", null, new { @class = "form-control", @placeholder = @ShoppingListApp.I18N.Resources.Views.Item.ItemsCommon.YourItemName })
    </div>
}
